* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 29, 29);
    font-family: 'Cairo', sans-serif;
}

button {
    font-family: 'Cairo', sans-serif;
}

.page-welcome {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.page-welcome .welcome {
    font-size: 3.3em;
}

.page-welcome button {
    font-size: 1.5em;
    width: 250px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba(250, 235, 215, 0.911);
}

.page-welcome button:hover {
    color: #fff;
    background-color: rgb(29, 29, 29);
}

/* OPTIONS */
.options-slide {
    display: flex;
    position: fixed;
    color: #000;
    right: -250px;
    transition-duration: 1s;
    z-index: 999999;
}

.options {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9em;
    height: 100vh;
    width: 250px;
    background-color: rgb(221, 213, 213);
    text-align: center;
    border-left: 2px solid white;
}

.options h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin: 10px auto;
}

.options h2:hover {
    transition-duration: 0.5s;
    background-color: white;
}

.homebtn {
    display: block;
    position: absolute;
    top: 47.5%;
    left: -45px;
    width: 45px;
    height: 45px;
    font-size: 1.5em;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid white;
    border-top-left-radius: 22.5px;
    border-bottom-left-radius: 22.5px;
}

.fa-chevron-circle-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* RANGE PLAYING GAME */
.range-dif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition-duration: 1s;
    opacity: 1;
}

.range-dif-box {
    background-color: rgb(221, 213, 213);
    border: 3px solid white;
    width: 350px;
    height: 110px;
    text-align: center;
}

.range-dif-box h2 {
    margin-top: 5px;
}

.range-dif-box button {
    margin: 5px;
    width: 80px;
    font-size: 1.1em;
}

.three-sec-box {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-sec-timer {
    position: absolute;
    color: #fff;
    font-size: 5em;
    top: 47.5%;
    z-index: 9999;
}

#range-game {
    display: none;
    position: fixed;
    width: 100%;
}

.range-container {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range-alltext {
    text-align: center;
    font-size: 1.3em;
    color: #000;
}

.remaining-counter {
    background-color: rgba(250, 235, 215);
    width: 350px;
    margin: 10px auto;
}

.hit-counter {
    background-color: rgba(252, 215, 167, 0.911);
    width: 200px;
    margin: 10px auto;;
}

.playing-field {
    position: relative;
    height: 500px;
    width: 500px;
    border: 2px solid white;
    margin-top: 30px;
}

.playing-field div {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(253, 68, 68);
    border-radius: 25px;
}


